<h1>Primer Tarea Seminario</h1>
<link rel='stylesheet' href='/stylesheets/estilo.css' />
<p >Contactenos</p>

<p>Nombre</p> <input type="text" name="nombre" value="" placeholder="Ingrese su nombre">
<p>Apellido</p> <input type="text" name="apellido" value="" placeholder="Ingrese su apellido">
<p>Telefono</p> <input type="text" name="nombre" value="" placeholder="Ingrese su telefono">

<img src="{{image}}" alt="imagen">
